

//colors
$color-grey-dark: #777;
$linear-one: #d5dda580;
$linear-two: #88315579;
$white: whitesmoke;
$black: #232323;
$green:  rgba(14, 63, 51, 0.856);


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$horiz-gutter: 6rem;