

.header{
    height: 95vh;
    text-align: center;
    background-image: linear-gradient(to right,$linear-one, $linear-two), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* clip-path: polygon(0 0, 100% 0, 100% 720px, 0 100% ); */
    position: relative;
    /* clip-path: ellipse(40% 30% at 50% 50%); */
    clip-path: circle(80% at 30% 45%);

    @include respond(tab-port){
        clip-path: circle(70% at 30% 45%);
       

     }
     



 &__logo-box{
            position: absolute;
            top: 4rem;
            left: 4rem;

          
           
            
        }

        
 &__logo-box:hover &__logo{
    animation-name: moveInBottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
   
    

}

&__logo{
    height: 3.5rem;
}



&__text-box{
    position: absolute;
    top: 40%;
    left: 46%;

    @include respond(desktop){
        left: 20%;
       
    }

   
   

}
}