.composition{
    position: relative;
           
  

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4em rgba($black, .4);
        border-radius: 2px;
        position: absolute;
        outline-offset: 1.2rem;
        z-index: 1;
        @include respond(desktop){
            width: 85%;
            
            
     
          }
        @include respond(tab-land){
           width: 75%;
           
           
    
         }

    
    @include respond(tab-port){
        margin-top: 10rem;
        width: 55%;
       
       

     }

    
    

    &--p1{
        left: 0;
        top: -2rem;
        @include respond(desktop){
           left: 25rem;
            
            
     
          }
        @include respond(tab-land){
           left: 34%;
            
            
     
          }
 
        

    }
    &--p2{
        right: -2rem;
        top: 3rem;
        @include respond(desktop){
            left: -3rem;
      
           }

        @include respond(tab-land){
            left: -14%
       
           }


    }
    &--p3{
        left: 20%;
        top: 12rem;
        @include respond(desktop){
            left: 13rem;
            top: 17rem
       
           }

        @include respond(tab-land){
            left: 15%;
            top: 12rem;
          
           }

    }
    &:hover {
        transform: scale(1.5) translateY(3);
        box-shadow: 0 2.5rem 4rem rgba($black, .8);
        z-index: 5;
        outline: 1rem double $white;
        
     
    }
}
&:hover &__photo:not(:hover){
    transform: scale(.9);
}
}