.feature-box{
    background-color: rgba(rgb(255, 255, 255), .9);
    font-size: 1.5rem;
    padding: 2.2rem;
    text-align: center;
    box-shadow: 0 1.4rem 4rem rgba($black, .15);
    border-radius: 2px;
    transition: transform .3s;

    
    @include respond(tab-port){
       margin-bottom: 3rem;
       padding: 1.6rem;
        
       

     }
   


    &__icon{
        // color: linear-gradient(to right, $linear-one, $linear-two);
        color:darken($linear-one, 20%);
        margin-left: -30px;

    }

    &__text{
      color: $black;
    }

   &:hover{
       transform: translateY(-1.5rem) scale(1.1);
   }


}


