
body{
    font-family: 'lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
 
    

}

.heading-primary{
    color: $white;
    text-transform: uppercase;
    letter-spacing: 3rem;
    /*to get rid of animatn shake use backface-visibility on  entire element;*/
    backface-visibility: hidden;

    

    &--main{
        display: block;
        font: 500;
        font-size: 5rem;
        animation-name: moveInRight;
        animation-duration: 2.5s;
        animation-timing-function: ease-out;

        @include respond(tab-port){
           letter-spacing: 1rem;
           font-family:  3rem;

        }
        @include respond(phone){
            letter-spacing: 1rem;
            font-family:  2rem;
 
         }
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing:1.75rem;
        font-weight: 700;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
}


.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700px;
    background-image: linear-gradient(to right, darken($linear-one, 30%), $linear-two);
    display: inline-block;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port){
       font-size: 3rem;
    }
    @include respond(tab-port){
       font-size: 2.4rem;
    }
   

    &:hover{
        transform:  skewX(15deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem $color-grey-dark;
    }
}


.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700px;
    text-transform: uppercase;
    color: $color-grey-dark;
}

.paragraph{
    font-size: 1.5rem;
    color: $color-grey-dark;
    margin-bottom: 5rem;

}
