.section-about {
    height: 130vh;
    padding: 25rem;
    // background:  linear-gradient(to right, rgba(232, 243, 231, 0.795), #ffffff);
    // clip-path: circle(80% at 70% 45%);
   
}


.section-features{
    
    margin-top: -11rem;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
        $linear-one, $linear-two), url(../img/nat-4.jpg);
    background-size: cover;
    height: 100vh;
    transform: skewY(-7deg);


    & > * {
        transform: skewY(7deg)
    };

    
}

.section-tours{
    height: 130vh;
    padding: 25rem 0 50rem 0;
    margin-top: -12rem;
    background:  linear-gradient(to right, #ffffff, rgba(236, 243, 237, 0.795));
    // clip-path: circle(80% at 30% 45%);
    position: relative;
    z-index: -2;

   
}

.whitespace{
    height: 100rem;
}

.booking-section{
    padding: 20rem 0;
    background-color: rgba(233, 233, 233, 0.664);
   
}

.book {
    background-image: linear-gradient(110deg, rgba($white, .9) 0%,
    rgba($white, .99) 50%, rgba(199, 20, 20, 0.11) 50%), url(../img/nat-10.jpg);
    background-size: 100% no-repeat;//same as color
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black, .25) ;

    &__form{
        width: 50%;
        padding: 6rem;
    }

}